<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dignissimos laborum quia nam. Et quidem alias pariatur, dolore consectetur mollitia est esse, delectus, quis culpa laborum facere vitae eveniet excepturi.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae officia odit dolores expedita, pariatur laudantium, totam nisi neque itaque quas eum illo est mollitia beatae laborum dolor unde autem reiciendis!
</p>
